<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@ taglib uri="http://www.springframework.org/security/tags" prefix="security" %>
<link href="<c:url value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>" rel="stylesheet">

<c:url var="homeUrl" value="/"/>
<c:url var="registration" value="/registration/new"/>
<c:url var="postLoginUrl" value="/j_spring_security_check"/>
<c:url var="logoutUrl" value="/j_spring_security_logout"/>








			



    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="${homeUrl}"><spring:message code="subhead.homepage" /></a>
          <a class="navbar-brand" href="#"><spring:message code="subhead.language" /></a>	
          <a class="navbar-brand" href="?lang=pl"><img src="<c:url value="/resources/img/pl.png" />" class="img-rounded" alt="polski" height="20" width="40"></a>
			    <a class="navbar-brand" href="?lang=en"><img src="<c:url value="/resources/img/uk.png" />" class="img-rounded" alt="English" height="20" width="40" ></a>
        </div>
    

        <div id="navbar" class="navbar-collapse collapse">
        <security:authorize access="isAnonymous()">
          <form class="navbar-form navbar-right" role="form" action="${postLoginUrl}" method="post">
            <div class="form-group">
              <input type="text" name="j_username" class="form-control" placeholder="<spring:message code="registrationForm.label.username" />"/>
            </div>
            <div class="form-group">
              <input type="password" name="j_password" class="form-control" placeholder="<spring:message code="registrationForm.label.password" />" />
            </div>
              <input type="submit" class="btn btn-success" value="<spring:message code="subhead.login" />" />
          </form>
        </security:authorize>
        
<security:authorize access="isAuthenticated()">
<div class="nav navbar-nav navbar-right" >
   
    <a class="btn btn-danger btn-lg" href="${logoutUrl}"><spring:message code="subhead.loguot" /></a>
    
    <a class="navbar-brand" href="#"><spring:message code="subhead.hello" /></a>
    <a class="navbar-brand" href="#"><security:authentication property="principal.username" /></a>
  </security:authorize> 





        </div>
      

</div>

</nav>